* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
html, body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}
.header {
	background-color: #190061;
	height: 60px;
	padding: 0 10px;
}
.header__menu {
}
.menu {
}
.menu__list {
	/* white-space: nowrap; */
}
.menu__item {
	/* display: inline-block;
	margin-right: 5%; */
}
.menu__link {
	text-decoration: none;
	color: white;
	transition: 0.5s;
}
.menu__link_back {
	text-decoration: underline;
}
.menu__link_current {
	color: lightblue;
}
.menu__link:hover {
	color: grey;
}
.header__heading {
}
.heading {
	background-color: #3500D3;
	padding: 3px 10px;
}
.heading__inner {
	font-size: 20px;
}
.container {
}
.container__item {
}
.aside {
	background-color: #282828;
}
.aside__header {
}
.aside__content {
}
.main {
}
.main__container {
	background-color: #3500D3;
}
.main__content {
}
.main__footer {
}
.top-bottom-block {
	background-color: #240090;
	height: 60px;
}
.top-bottom-block__content {
	text-align: center;
}
.footer {
	background-color: #0c0032;
	height: 60px;
	padding: 0 10px;
}
.footer__content {
}
.footer__heading {
}